<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Home Page</title>
  </head>
  <body class="p-lg-5 p-3">
    <ul>
      <li><a href="/">Home</a></li>
      <li>
        <a href="/users" target="_blank" referrerpolicy="no-referrer">Users</a>
      </li>
    </ul>

    <h3>Form for Create user (MVC practice)</h3>
    <!-- form  -->
    <form action="/users" enctype="multipart/form-data" method="POST">
      <div class="d-flex flex-lg-row flex-column gap-1 w-[90%]">
        <input type="text" name="name" placeholder="your name" required />
        <input
          type="text"
          name="email"
          placeholder="ibrahim@gmail.com"
          required
        />
        <input type="number" name="age" placeholder="age" required />
        <input type="file" name="file" placeholder="file" required />
        <button type="submit">create user</button>
      </div>
    </form>

    <!-- showcase section -->
    <table class="table table-striped mt-5 table-bordered w-100">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Age</th>
          <th scope="col">Files</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="tableBody"></tbody>
    </table>

    <script src="index.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
